#head {
    background-size: 150px;
  width: 300px;
  height: 300px;
  border: 2px solid;
}
#pic {
    width: 100%;
    height: auto;
}
#background {
    background-size: auto;
    position:absolute;
    top:1px
}
#footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 40px;
    background: grey;
}